{
  "plugins": [
    ["module-resolver", {
      "alias": {
        "@readableStream": "./tdf3/src/client/stream-web-node.ts",
        "@tdfStream": "./tdf3/src/client/NodeTdfStream.ts",
        "@runtimeConfig": "./tdf3/src/utils/aws-lib-storage/runtimeConfig"
      }
    }]
  ],
  "ignore": ["**/*.html"],
  "include": ["**/*.ts"],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "100"
        }
      }
    ],
    "@babel/preset-typescript"
  ]
}
